# Private/local targets only. Examples:
# TARGET_URL=http://127.0.0.1:3000
# TARGET_URL=http://192.168.1.50:8080
TARGET_URL=http://127.0.0.1:3000

MAX_CONCURRENT_SESSIONS=4
INITIAL_WAVE_SIZE=2
WORKER_STAGGER_MS=1000
WAVE_DELAY_MS=3000
DEBUG_MODE=false
NAVIGATION_TIMEOUT_MS=15000
INITIAL_LOAD_WAIT_MS=500
INTERACTION_CYCLES=4
